[tasks.vendor]
run = "pnpm i"

[tasks.lint]
run = "pnpm lint"

[tasks.build]
run = [
  "pnpm prisma generate",
  "pnpm build"
]

[tasks.test]
run = [
  "pnpm dotenv -e .env.testing -- prisma migrate deploy",
  "pnpm test --coverage"
]

[tasks.ci]
run = [
  { task = "vendor" },
  { task = "lint" },
  { task = "build" },
  { task = "test" },
]

[tools]
node = "24"
pnpm = "10"
